@{
    ViewBag.Title = "Home Page";
}

<head>
    @Styles.Render("~/Content/HomePage.css")
</head>
<body>
    <div class="jumbotron">
        <h1>This is homepage!</h1>
        <p>Gauken!</p>
    </div>
</body>
