@model IEnumerable<DLLGakuen.Entity.NewsMessage>
@{
    ViewBag.Title = "Home Page";
}

<head>
    @Styles.Render("~/Content/HomePage.css")
</head>
@{ int count = 0;}

<body>
    <div class="jumbotron">

        @foreach (var item in Model.Reverse())
        {
            <button class="col-md-4">
                <a href="@Url.Action("NewsFeed", new {id = item.Id, ViewBag.Currency})">
                    <p id="magic">
                        @Html.DisplayFor(modelItem => item.Title)
                    </p>
                    <p id="wrapper">@Html.DisplayFor(modelItem => item.Body)</p>
                </a>
            </button>
        }

    </div>
    <div class="row"></div>
</body>