@model DLLGakuen.Entity.NewsMessage
@{
    ViewBag.Title = "NewsFeed";
}
<head>
    @Styles.Render("~/Content/HomePage.css")
</head>
<body>
    <div class="jumbotron">
        <p id="magic">@Html.DisplayFor(model => model.Title)</p>
        <p>@Html.DisplayFor(model => model.Body)</p>
    </div>
</body>