@using DLLGakuen.Entity

@{
    ViewBag.Title = "Check";
}

<h2>Check</h2>

<p>Code = @ViewBag.Code</p>
<p>Cash = @ViewBag.Cash.</p>
<p>UserName = @ViewBag.UserName</p>
<p>

    <form action="/ConfirmPayment/Validate" method="post">
        <input type="hidden" class="hidden" name="Code" value="@ViewBag.Code"></input>
        <input type="submit" value="Approve">
    </form>
</p><p>
    <form action="/ConfirmPayment" method="post">
        <input type="submit" value="Cansel">
    </form>
</p>
