
@{
    ViewBag.Title = "Index";
}

<h2>Confirmer</h2>




<form action="ConfirmPayment/Check" method="post">
    Code = <input type="text" name="Code" value="">
    <input type="submit" value="Confirm">
</form>

<form action="ConfirmPayment" method="post">
    <input type="submit" value="Cansel">
</form>
