@model DLLGakuen.Entity.NewsMessage
@{
    ViewBag.Title = "NewsFeed";
}
<head>
    @Styles.Render("~/Content/HomePage.css")
</head>
<body>
        <p>@Html.DisplayFor(model => model.Title)</p>
        <p>@Html.DisplayFor(model => model.Body)</p>
</body>