@font-face {
    font-family: 'magic'; /*a name to be used later*/
    src: url('/fonts/MagicSchoolOne.ttf'); /*URL to font*/
}

#wrapper {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

body {
    background-color: #ffffff;
}

.jumbotron {
    background-color: #ffffff !important;
    color: #000000;
    text-align: center;
}

#magic {
    font-family: magic;
    font-size: 300%;
}

button {
    background: transparent;
    border: none !important;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: none;
        color: #000080;
    }
