@font-face {
    font-family: 'magic'; /*a name to be used later*/
    src: url('/fonts/MagicSchoolOne.ttf'); /*URL to font*/
}

#wrapper {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

body {
    background-color: #c0c0c0;
}

.jumbotron {
    background-color: #ffffff !important;
    color: #000000;
    text-align: center;
}

.body-content {
    background-color: white !important;
}

#magic {
    font-family: magic;
    font-size: 300%;
}

button {
    background: transparent;
    border: none !important;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: none;
        color: #000080;
    }


/*Cutcorner*/
.cutCorner {
    position:relative; background-color:blue; 
    border:1px solid silver; display: inline-block;
}

.cutCorner img {
    display:block;
}

.cutCorner:before {
    position:absolute; left:-1px; top:-1px; content:'';
    border-top: 150px solid silver;
    border-right: 200px solid transparent;
}

.cutCorner:after {
    position:absolute; left:-2px; top:-2px; content:'';
    border-top: 150px solid white;
    border-right: 200px solid transparent;
}